TYPEORM_CONNECTION=sqlite
TYPEORM_DATABASE=dist/database/csgo.db
TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_MIGRATIONS=dist/database/migrations/*.js
TYPEORM_MIGRATIONS_DIR=dist/database/migrations

PRIVATE_KEY=YOUR_PRIVATE_KEY